@font-face {
  font-family: "iconfont"; /* Project id 3491358 */
  src: url('iconfont.woff2?t=1656500934586') format('woff2'),
       url('iconfont.woff?t=1656500934586') format('woff'),
       url('iconfont.ttf?t=1656500934586') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-ditu-dibiao:before {
  content: "\ec3f";
}

.icon-jianshao:before {
  content: "\e8b1";
}

.icon-zengjia:before {
  content: "\e8c0";
}

